In [5]:
# importar as bibliotecas necess√°rias
import pandas as pd
from pandas_datareader import data as web
import plotly.graph_objects as go

from Polls.models import Acao, Simulacao_cenarios

# criar um DataFrame vazio
df = pd.DataFrame()

ModuleNotFoundError: No module named 'Polls'

In [3]:
acao = 'ITUB3.SA'

Simulacao_acao
 
# importar dados para o DataFrame
df = web.DataReader(acao, data_source='yahoo', start='01-01-2000')
 
# ver as 5 primeiras entradas
df.head()

                High       Low      Open     Close   Volume  Adj Close
Date
2000-01-03  2.318106  2.318106  2.318106  2.318106  65225.0   1.309842
2000-01-04  2.301548  2.235316  2.301548  2.235316  25365.0   1.263062
2000-01-05  2.235316  2.218758  2.235316  2.218758  15702.0   1.253705
2000-01-06  2.169085  2.152527  2.152527  2.152527  85759.0   1.216282
2000-01-07  2.334664  2.318106  2.334664  2.318106  31404.0   1.309842