In [2]:
# importar as bibliotecas necessárias
import pandas as pd
from pandas_datareader import data as web
import plotly.graph_objects as go

#from Polls.models import Acao, Simulacao_cenarios

# criar um DataFrame vazio
df = pd.DataFrame()

In [5]:
acao = 'ITUB3.SA'

#Simulacao_acao
 
# importar dados para o DataFrame
df = web.DataReader(acao, data_source='yahoo', start='01-01-2000')
 
# ver as 5 primeiras entradas
df.head()

                High       Low      Open     Close   Volume  Adj Close
Date
2000-01-03  2.318106  2.318106  2.318106  2.318106  65225.0   1.307482
2000-01-04  2.301548  2.235316  2.301548  2.235316  25365.0   1.260786
2000-01-05  2.235316  2.218758  2.235316  2.218758  15702.0   1.251447
2000-01-06  2.169085  2.152527  2.152527  2.152527  85759.0   1.214090
2000-01-07  2.334664  2.318106  2.334664  2.318106  31404.0   1.307482

In [6]:
df

                 High        Low       Open      Close     Volume  Adj Close
Date
2000-01-03   2.318106   2.318106   2.318106   2.318106    65225.0   1.307482
2000-01-04   2.301548   2.235316   2.301548   2.235316    25365.0   1.260786
2000-01-05   2.235316   2.218758   2.235316   2.218758    15702.0   1.251447
2000-01-06   2.169085   2.152527   2.152527   2.152527    85759.0   1.214090
2000-01-07   2.334664   2.318106   2.334664   2.318106    31404.0   1.307482
...               ...        ...        ...        ...        ...        ...
2022-01-17  20.920000  20.410000  20.740000  20.690001   658300.0  20.690001
2022-01-18  21.000000  20.610001  20.680000  20.820000   924400.0  20.820000
2022-01-19  21.150000  20.610001  20.820000  20.660000  1113600.0  20.660000
2022-01-20  20.799999  20.480000  20.799999  20.480000   777100.0  20.480000
2022-01-21  20.750000  20.389999  20.480000  20.490000   627000.0  20.490000

[5543 rows x 6 columns]